---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #f5f3f4;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;



.order_button {
  background: #f09b31;
  background-image: -webkit-linear-gradient(top, #f09b31, #f3293f);
  background-image: -moz-linear-gradient(top, #f09b31, #f3293f);
  background-image: -ms-linear-gradient(top, #f09b31, #f3293f);
  background-image: -o-linear-gradient(top, #f09b31, #f3293f);
  background-image: linear-gradient(to bottom, #f09b31, #f3293f);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: "gill sans";
  color: #f5f3f4;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.order_button:hover {
  background: #f3293f;
  background-image: -webkit-linear-gradient(top, #f3293f, #f09b31);
  background-image: -moz-linear-gradient(top, #f3293f, #f09b31);
  background-image: -ms-linear-gradient(top, #f3293f, #f09b31);
  background-image: -o-linear-gradient(top, #f3293f, #f09b31);
  background-image: linear-gradient(to bottom, #f3293f, #f09b31);
  text-decoration: none;
}

.site-title{
  margin: 20px;
}

#wrapper .site-title a{
  margin: 0 auto;
}
